<!DOCTYPE HTML>
<html>

<head>
  <title>Legit Bank</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet"
        href="{{ assets.bootstrap }}" >
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/custom.css') }}">
</head>

<body>

  <div class="container">

    <div class="card card-container">
      
      <img id="profile-img"
           class="profile-img-card"
           src="{{ assets.avatar}}" />

      <p id="profile-name" class="profile-name-card"></p>

      <form class="form-signin" method="POST" action="/">

        <span id="reauth-email" class="reauth-email"></span>
        <input type="email"
               id="inputEmail"
               class="form-control"
               name="email"
               placeholder="Email address"
               required
               autofocus>
        <input type="password"
               id="inputPassword"
               class="form-control"
               name="password"
               placeholder="Password"
               required>
        <button class="btn btn-lg btn-primary btn-block btn-signin"
                type="submit">
          Sign in
        </button>

      </form>

      <a href="#" class="forgot-password">
        Forgot the password?
      </a>

    </div>

    <div class="col-xs-4"></div>

    <div class="col-xs-4">
      <p class="text-center lead" style="color: red">
        <b>WARNING:</b> This is an educational resource to demonstrate concepts in a phishing attack. It is not to be used for any other purpose.
      </p>
    </div>

  </div>

  <script src="{{ assets.jquery }}"></script>
  <script src="{{ url_for('static', filename='js/custom.js') }}" ></script>

</body>

</html>
